html {
    min-height: 100%;
}
html, body, .container-fluid {
    height: 100%;
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
}


body {
    position: relative;
}

input, .form-control {
    background-color: transparent;
    color: white;
    font-size: ceil(($font-size-base * 1.2));
}

.bg {
    // background-image: url(https://images.unsplash.com/photo-1418226970361-9f1f7227d638?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=383740e17e2453e03d39f27a2d12c566);
    // background-image: url(http://40.media.tumblr.com/c53eaa42e0de0dec51c17a079aaa52a5/tumblr_n56na0MRlH1sfie3io1_1280.jpg);
    // background-image: url(https://mail.google.com/mail/u/1?ui=2&ik=966a09e749&attid=0.12&th=15329e5c7d53f54d&view=fimg&realattid=f_il735p3m11&disp=thd&attbid=ANGjdJ_jkCtbNSpi8SWAt-B_oims9aIj0xENaNY_ApF78BdTvTvZWQcQSca2yjZtCVDlxzxUd6RcKStedMpFyUvHhDuh8UyNnlv0WLIZZCdeoRj72hGn9Hqz0BomLXQ&ats=2524608000000&sz=w2268-h1082);
    background-size: cover;
    background-color: $brand-primary;
    background-image: url(/images/texture.jpg);
}

.bg-trans-white {
    background: rgba(255,255,255,0.5);
    padding: 20px;
}

a, .text-danger {
    font-weight: bold;
    color: white;

    &:hover {
        color: white;
    }

    &.play:hover {
        color: $brand-primary;
    }

    &.play {
        .glyphicon {
            display: block;
            padding-top:20px;
            padding-bottom:40px;
        }
    }
}

a.underline:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    // padding-right: 30px;
}

.aligner {
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control, .form-control:focus {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $brand-primary;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.width-200 {
    width: 200px;
}

.width-300 {
    width: 300px;
}

#player { 
    display: none;
}